html{
	font-family: 'EB Garamond', serif;
}

nav ul li{
	display: inline-block; 
	font-family: "Helvetica";
	height: 20px;
	background-color: #6184a3;
	border-radius: 20px 20px 20px 20px;
	padding: 5px 5px 5px 5px;
}

li{
	list-style-type: none;
}

#left{
	margin-left: 25px;
	color: #F8F8FF;
	text-align: center;
	position: fixed;
	background-color: #4f5d6a;
	margin-bottom: 10px;
	width: 335px;
	height: 95%;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
}

article{
	margin-left: 425px;
}

section{
	background-color: #eef3f9;
	border-radius: 10px 10px 10px 10px;
	width: 80%;
}

h1{
	margin: 10px 10px 10px 10px;
	color: #6184a3;
	font-family: Helvetica;
	font-size: 30px;
}

img{
	border-radius: 10px 10px 10px 10px;
}