body{
	font-family: 'EB Garamond', serif;
	background-color: #F8F8FF;
}

nav{
	margin-left: -20px;
	background-color: #F8F8FF;
}

.navbar-default {
    background: none;
    border: none;
    color:#4f5d6a;
}

a{
	text-decoration: none;
	color: #F8F8FF;
}

nav a:hover{
	color: #4f5d6a;
	text-decoration: none;
}

.nav li a {
    position: relative;
    display: block;
    padding-left: 10px;
}

.navbar-default .navbar-nav li a:hover{
    color: #4f5d6a;
    background-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: #F8F8FF;
}

.navbar-toggle {
    position: relative;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

nav ul li{
	color: #F8F8FF;
	display: inline-block; 
	font-family: "Helvetica";
	/*height: 20px;*/
	background-color: #6184a3;
	border-radius: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	margin-left: 5px;
	margin-top: 20px;
}

li{
	list-style-type: none;
}

#left{
	/*margin-left: 150px;*/
	color: #F8F8FF;
	text-align: center;
	position: fixed;
	background-color: #4f5d6a;
	margin-top: 20px;
	/*width: 335px;*/
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	padding-bottom: 20px;
}

p{
	padding-top: 10px;
}

h1{
	font-size: 20px;
	font-family: "EB-Garamond", serif;
}

article{
	/*margin-left: 525px;*/
	background-color: #F8F8FF;
}

section{
	background-color: #eef3f9;
	border-radius: 10px 10px 10px 10px;
	width: 95%;
	padding: -5px -5px -5px -5px;
	font-size: 15px;
}

h2{
	margin: 10px 10px 10px 10px;
	color: #6184a3;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	padding-top: 10px;
}

section h2:before{
	content: "";
	position: relative;
	border-left: 3px solid #6184a3;
	margin-right: 10px; 
}

.section{
	padding-bottom: 5px;
}

span{
	font-weight: bold;
}

img{
	border-radius: 10px 10px 10px 10px;
}

.parent {
	background-color: #F8F8FF;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.hidden-box {
	display: none;
	background-color: #4f5d6a;
	border-radius: 10px;
	text-align: center;
	width: 95%;
	height: 40px;
	padding-top: 10px;
	transition: background-color 3s ease-out;
}

.hidden-box:hover {
	background-color: #F8F8FF;
	color: #F8F8FF;
	cursor: pointer;
}

.parent:hover .hidden-box {
	display: block;
}

footer{
	border-top: solid #4f5d6a 2px;
	/*margin-top: 20px;*/
	/*margin-left: 565px;*/
	padding: 20px;
	}

footer div ul li{
	display: inline-block;
	margin-left: 10px;
}

@media (max-width:768px){
	h1{
    	font-size: 20px;
  	}
  	h2{
  		font-size: 20px;
  	}
  	header p{
  		font-size: 15px;
  	}
}

@media (max-width:1200px){
  	#left{
  		position: relative;
  	}
}

@media (min-width:413px){
	#left{
		width: 335px;
	}
}

@media (min-width: 768px){
.navbar-nav li a {
    padding: 0;
    padding-bottom: 0;
}