html{
	font-family: 'EB Garamond', serif;
	background-color: #F8F8FF;
}

nav{
	margin-left: -20px;
	background-color: #F8F8FF;
}

a{
	text-decoration: none;
	color: #F8F8FF;
}

nav a:hover{
	transform-style: none;
	color: #4f5d6a;
	text-decoration: none;
}

nav ul li{
	color: #F8F8FF;
	display: inline-block; 
	font-family: "Helvetica";
	height: 20px;
	background-color: #6184a3;
	border-radius: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}

li{
	list-style-type: none;
}

#left{
	margin-left: 150px;
	color: #F8F8FF;
	text-align: center;
	position: fixed;
	background-color: #4f5d6a;
	margin-bottom: 10px;
	width: 335px;
	height: 95%;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
}

article{
	margin-left: 525px;
	background-color: #F8F8FF;
}

section{
	background-color: #eef3f9;
	border-radius: 10px 10px 10px 10px;
	width: 95%;
	padding: -5px -5px -5px -5px;
}

section h1:before{
	content: "";
	position: relative;
	border-left: 3px solid #6184a3;
	margin-right: 10px; 
}

h1{
	margin: 10px 10px 10px 10px;
	color: #6184a3;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
}

span{
	font-weight: bold;
}

img{
	border-radius: 10px 10px 10px 10px;
}

.parent {
	background-color: #F8F8FF;
	height: 40px;
}

.hidden-box {
	display: none;
	background-color: #4f5d6a;
	border-radius: 10px;
	text-align: center;
	width: 95%;
	height: 40px;
	padding-top: 15px;
	transition: background-color 3s ease-out;
}

.hidden-box:hover {
	background-color: #F8F8FF;
	color: #F8F8FF;
	cursor: pointer;
}

.parent:hover .hidden-box {
	display: block;
}

footer{
	border-top: solid #4f5d6a 2px;
	margin-top: 20px;
	margin-left: 600px;
	padding: 10px;
	width: 45%;
}

footer div ul li{
	display: inline-block; 
}